{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}

    <div class="general row">

        {% include '/inc/navbarAdmin.html.twig' %}

        <div class="col">

            <h1>Numéro {{ program.name }}</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{ program.description }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img src="{{ asset('pictures/' ~ program.picture) }}" alt="photo" class="artistPicture"> </td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('admin_program_edit', {'id': program.id}) }}"><i
                        class="fas fa-pencil-alt"></i></a>

            <a class="btn">{{ include('admin/program/_delete_form.html.twig') }}</a>
        </div>

    </div>
{% endblock %}
