{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des artistes</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Biographie</th>
                <th>Photo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{ artist.name |capitalize}}</td>
                    <td>{{ artist.biography }}</td>
                    <td>{{ artist.picture }}</td>
                    <td>
                        <a href="{{ path('admin_artist_show', {'id': artist.id}) }}"><i class="far fa-eye"></i></a>
                        <a href="{{ path('admin_artist_edit', {'id': artist.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas d'artistes enregistrés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_artist_new') }}">Créer un nouvel artiste</a>
        <a href="{{ path('admin_artist_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
