{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}

    <div class="general row">

        {% include '/inc/navbarAdmin.html.twig' %}

        <div class="col">

            <h1>Liste des artistes</h1>

            <div class="tabAdmin">

                <a class="btn btn-primary" href="{{ path('admin_artist_new') }}">Créer un nouvel artiste</a>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Biographie</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artist in artists %}
                        <tr>
                            <td>{{ artist.name |capitalize }}</td>
                            <td>{{ resumeBios[artist.id] }}</td>
                            <td class="tdAction">
                                <a class="btn btn-primary" href="{{ path('admin_artist_show', {'id': artist.id}) }}">
                                    <i class="far fa-eye"></i></a>
                                <a class="btn btn-primary" href="{{ path('admin_artist_edit', {'id': artist.id}) }}"><i
                                            class="fas fa-pencil-alt"></i></a>
                                <a class="btn">{{ include('admin/artist/_delete_form.html.twig') }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Pas d'artistes enregistrés</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
