{% extends 'base.html.twig' %}

{% block title %}Artistes{% endblock %}

{% block body %}

    <div class="row">

        {% include '/inc/navbarAdmin.html.twig' %}

        <div class="col">

            <h1>{{ artist.name }}</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Biographie</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="artistBio">{{ artist.biography }}</td>
                    <td><img src="{{ asset('pictures/' ~ artist.picture) }}" alt="photo" class="artistPicture"></td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                <a class="btn btn-primary" href="{{ path('admin_artist_edit', {'id': artist.id}) }}"><i
                            class="fas fa-pencil-alt"></i></a>

                <a class="btn"> {{ include('admin/artist/_delete_form.html.twig') }} </a>

                <a class="btn">{{ include('admin/program/_delete_form.html.twig') }}</a>

            </div>
        </div>

    </div>
{% endblock %}
