<div class="col-3 alignBlockAdmin">

    <ul class="nav flex-column navColor">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_index') }}"> <img
                        src="{{ asset('/pictures/logoseul.png') }}" class="logo"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('admin_artist_index') }}">Gérer les artistes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_event_index') }}">Gérer les évènements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_program_index') }}">Gérer la programmation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Retour au site</a>
        </li>
    </ul>

</div>