<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link logo" href="{{ path('index') }}"> <img
                src="{{ asset('/pictures/logoseul.png') }}" class="logo"><img
                src="{{ asset('/pictures/logotexte.png') }}" class="logoText"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('program_index') }}">Programme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Spectacle</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Artistes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Marco le Rigolo</a>
                    <a class="dropdown-item" href="#">Pikachu</a>
                    <a class="dropdown-item" href="#">Cloud</a>
                </div>
            </li>
            <li class="nav-item">
                {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>